h1 {
    font-size: 250%;
 
}
body {
    font-size:x-large;
    font-weight:700;
}
.first_paragraph {
    width: 770px;
    height: 45px;
    margin: 5px;
    padding: 10px;
    border: 3px solid rgb(23, 8, 8);
    background-color: #a5f7e8;
    
  }
  .sec_paragraph {
    width: 770px;
    height: 75px;
    margin: 5px;
    padding: 10px;
    border:  3px solid rgb(20, 3, 3);
    background-color: #a5f7e8;
   
  }
  .third_paragraph {
    width: 770px;
    height: 48px;
    margin: 5px;
    padding: 10px;
    border:  3px solid rgb(23, 8, 8);
    background-color: #a5f7e8;
   
  }

   .fourth_paragraph  { 
    width: 770px;
    height: 140px;
    margin: 5px;
    padding: 10px;
    border:  3px solid rgb(23, 8, 8);
    background-color: #a5f7e8;
    
   
  }
  span {
    border: 3px solid blue;
}